/* my-style.css */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, arial, verdana;
    font-size: 12px;
}

#header {
    background: lightgray;
    height: 50px;
    padding-left: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#navigation {
    background: whitesmoke;
    height: 20px;
    padding-left: 50px;
    line-height: 50px;
}

#navigation ul {
    list-style-type: none;
}

#navigation ul li {
    float: left;
}

#navigation ul li a {
    padding-right: 30px;
    display: block;
    line-height: 20px;
    text-decoration: none;
    color: black;
}

#actions {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    width: 100px;
}

#actions ul {
    list-style-type: none;
}

#actions ul li a {
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    color: black;
}

#content {
    float: left;
    padding: 30px 25px;
}

#content p {
    margin-top: 2ex;
}

#content div.data table {
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
 }

#content div.data table tr th, #content div.data table tr td {
    background: whitesmoke;
    padding: 1ex 1em;
}

#content #find {
    padding-bottom: 2ex;
}

#content #find input {
    margin-right: 1em;
}

#content div.form table {
} 

#content div.form table tr th, #content div.form table tr td {
    padding-top: 1ex;
    padding-bottom: 1ex;
    padding-right: 1em;
} 

#content div.form div.actions {
    margin-top: 2ex;
}

#footer {
    background: lightgray;
    height: 50px;
}

.clear {
    clear: both;
}

.invalid {
    color: red;
}
